@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body { 
    background-image: url("../orange.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center top 0px; /* Moves the background down */
}

footer {
    position:static;
    bottom: 0;
    width: 100%;
}
