@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {

    padding-bottom: 60px; /* Adjust this based on footer height */
    background-image: url("../orange.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center top 0px; /* Moves the background down */
}

h1{
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect centering */
    width: 100%;
    color: black;
    font-size: 40px;
    text-shadow: 2px 2px white;
}


footer {
    position:static;
    bottom: 0;
    width: 100%;
}
